* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	color: rgb(187, 118, 118);
}

.App {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: url(https://png.pngtree.com/background/20220716/original/pngtree-blue-atmospheric-weather-forecast-illustration-background-picture-image_1640760.jpg)
		no-repeat fixed;
	background-size: cover;
}

.card__main {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 15px;
}

.card__main img {
	height: 200px;
}
.card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 5px;
	box-shadow: 10px 10px 20px #000f;
	height: 500px;
	aspect-ratio: 1;
	border-radius: 20px;
	background-image: url(https://t4.ftcdn.net/jpg/04/61/23/23/360_F_461232389_XCYvca9n9P437nm3FrCsEIapG4SrhufP.jpg);
	background-size: cover;
}
.card__info {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.card__info__t {
	font-size: 1.5rem;
	color: slateblue;
	text-transform: capitalize;
}
.card__info li {
	list-style: none;
	padding: 3px;
	color: slateblue;
	font-weight: 500;
}

.card__info span {
	font-size: 1.2rem;
	color: rgb(187, 118, 118);
}

.card__temp {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 5px;
	/* border: 1px solid blue; */
}
.card__temp__info {
	display: flex;
	gap: 15px;
}

.card__load {
	color: red;
	font-size: 3rem;
}
